@import './../../styles/variables.scss';

.about {
  margin-bottom: 80px;
}

.title {
  margin-bottom: 40px;
  color: $text-dark-color;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
}

.cards {
  padding: 24px 28px;
  border-radius: 40px;
  background-color: $block-bg-dark-color;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 18px;
}

.card {
  padding: 24px 18px;
  border-radius: 20px;
  border: 1px solid $text-main-color;

  & > .subtitle {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
  }
}

.main {
  margin-bottom: 24px;
  background-color: $block-bg-dark-gray-color;

  & > .subtitle {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
  }

  & > .text {
    font-size: 11px;
  }
}

@media (min-width: 1280px) {
  .about {
    margin-bottom: 200px;
  }

  .title {
    margin-bottom: 88px;
    font-size: 40px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    padding: 47px 35px;
  }

  .card {
    padding: 42px 16px;

    & > .subtitle {
      font-size: 28px;
    }

    & > .text {
      font-size: 16px;
    }
  }

  .main {
    height: 100%;

    & > .subtitle {
      margin-bottom: 87px;
      font-size: 40px;
    }

    & > .text {
      font-size: 16px;
    }
  }
}
