@import './../../styles/variables.scss';

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  border-radius: 40px;
  background-color: $info-card-bg;
}

.photo {
  margin-bottom: 18px;
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.block {
  position: relative;
  margin: 0 auto 20px;
  padding: 40px 36px;
  max-width: 97%;
  background-color: $info-card-block-bg;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 16px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    right: -6px;
    bottom: -6px;
    z-index: -1;
    height: 128px;
    border-radius: 20px;
    background-color: $info-card-shadow-bg;
  }
}

.title {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 800;
  line-height: 120%;
  color: $text-dark-color;
}

.text {
  color: $info-card-text-color;
  line-height: 120%;
}

.panel {
  max-width: 456px;
  margin-inline: auto;
  margin-bottom: 24px;
}

.intro {
  padding-block: 6px;
  font-size: 12px;
  font-weight: 500;
  color: $text-dark-color;
  text-align: center;
  border: 1px solid rgb(7, 7, 7);
  border-radius: 28px;
  background-color: $info-card-block-bg;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding-inline: 20px;
  width: 70%;
  border-radius: 0 0 28px 28px;
  background-color: $card-bg-dark;

  & > span {
    font-weight: 800;
    line-height: 100%;
  }

  & > button {
    background-color: $card-bg-dark;
    border: none;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 5px;
  margin-bottom: 30px;
}

.item {
  padding: 6px 16px;
  font-weight: 500;
  line-height: 120%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 28px;
  color: $text-dark-color;
}

.active {
  color: $text-main-color;
  background-color: $info-card-shadow-bg;
}

@media (min-width: 670px) {
  .photo {
    margin-bottom: 18px;
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 0 -70px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
  }

  .block {
    &::after {
      content: '';
      height: 170px;
    }
  }

  .title {
    margin-bottom: 10px;
    font-size: 28px;
  }

  .text {
    font-size: 18px;
  }

  .item {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .card {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 50px;
  }

  .photo {
    margin-bottom: 0;
    width: 340px;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .block {
    margin-bottom: 50px;
    padding: 71px 29px;

    &::after {
      content: '';
      height: 230px;
    }
  }

  .items {
    margin-bottom: 60px;
  }
}
