@import './../../styles/variables.scss';

.career {
  margin-bottom: 80px;
}

.title {
  margin-bottom: 28px;
  color: $text-dark-color;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
}

.card {
  padding: 32px;
  text-align: center;
  border-radius: 40px;
  background-color: $card-bg-dark;
  overflow: hidden;
}

.subtitle {
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: 800;
}

.text {
  text-align: left;
  color: $career-card-text-color;
}

.img {
  height: 241px;
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 6px 16px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  font-weight: 500;
}

@media (min-width: 670px) {
  .title {
    margin-bottom: 40px;
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .career {
    margin-bottom: 200px;
  }

  .card {
    position: relative;
    padding: 130px 52px;
  }

  .top {
    max-width: 480px;
    text-align: left;
  }

  .subtitle {
    font-size: 28px;
  }

  .text {
    margin-bottom: 44px;
    font-size: 16px;
  }

  .img {
    position: absolute;
    top: 0;
    // right: -20px;
    margin-bottom: 0;
    height: 100%;
    width: 550px;
  }

  .bottom {
    justify-content: start;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
