@import './assets/styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: $text-main-color;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-bg-color;
}

.container {
  margin-inline: auto;
  max-width: $container-size;
}

main {
  padding-block: 80px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (min-width: 1024) {
  main {
    padding-block: 200px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin-inline: 20px;
  }
}
