// Sizes
$container-size: 1064px;

// Colors
$body-bg-color: #fff;
$text-main-color: #fff;
$text-second-color: #b2b2b2;
$text-dark-color: #000;
$square-bg-color: #c07ff2;
$circle-bg-color: #09aff4;

$block-bg-dark-color: #000;
$block-bg-dark-gray-color: #1a1a1a;

$info-card-bg: #e2e6ee;
$info-card-block-bg: #f9fafc;
$info-card-text-color: #585454;
$info-card-shadow-bg: #000;

$card-bg-dark: #070707;
$card-bg-gray: #606060;
$card-bg-content: #fff;
$card-text-color: #585454;
$card-btn-desktop-bg: #fff;
$card-btn-desctop-color: #000;

$btn-normal-color: #000;
$btn-bg-normal-color: #fff;
$btn-bg-normal-color-disabled: #b2b2b2;
$btn-bg-gray-color: #b4b4b4;
$btn-bg-dark-color: #000;
$btn-bg-dark-color-disabled: #767678;
