// Sizes
$container-size: 1064px;

// Colors
$body-bg-color: #fff;
$text-main-color: #fff;
$text-second-color: #b2b2b2;
$square-bg-color: #c07ff2;
$circle-bg-color: #09aff4;

$btn-normal-color: #000;
$btn-bg-normal-color: #fff;
$btn-bg-normal-color-disabled: #b2b2b2;
$btn-bg-gray-color: #b4b4b4;
$btn-bg-dark-color: #000;
$btn-bg-dark-color-disabled: #767678;
