@import './../../styles/variables.scss';

.title {
  margin-bottom: 28px;
  color: $text-dark-color;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
}

@media (min-width: 670px) {
  .title {
    margin-bottom: 40px;
    font-size: 40px;
  }
}
